{% extends "website/base.html" %}

{% block content %}
<div class="peoplecontent">
    <h1>Our Crew</h1>
    <div class="crewmembers">
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/prasanna1.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">PRASANNAKUMAR</div>
            <div class="designation">C.E.O PRAS CORP</div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/shoheel.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">SHOHEEL</div>
            <div class="designation">FRONTEND DEV</div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/varma.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">VARMA</div>
            <div class="designation">TECHNICAL TEAM</div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/aadhi1.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">AADHI</div>
            <div class="designation"> R & D HEAD </div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/prashethaa.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">PRASHEETHA</div>
            <div class="designation"> DESIGN TEAM </div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/vincent.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">VINCENT</div>
            <div class="designation"> MARKETING HEAD </div>
        </div></div>
    </div>
    {% endblock  %}